<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    </header>

    <main>
        <% if (products.length > 0) { %>
        <form class='form-control' action="/orders" method="POST">
            <h2 class='totalPrice'>Total Price: <%= totalPrice %></h2>
            <button class='btn edit' type="submit">Checkout!</button>
        </form>
        <div class="grid">
            <% products.forEach(product => { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= product.title %></h1>
                </header>
                <div class="card__image">
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                </div>
                <div class="card__content">
                    <h2 class="product__price">$<%= product.price %></h2>
                    <p class="product__description"><%= product.description %></p>
                    <h2 class="product__price"><%= product.cartItem.quantity %> in cart</h2>
                </div>
                <div class="card__actions">
                    <form action="/remove-item" method="POST">
                        <button class='btn edit' type="submit">Delete</button>
                        <input type="hidden" name="productId" value="<%= product.id %>">
                        <input type="hidden" name="productPrice" value="<%= product.price %>">
                    </form>
                </div>
            </article>
            <% }) %>
        </div>

        <% } else { %>
        <h2>Cart is Empty!!</h2>
        <% } %>
    </main>
</body>

</html>